@model HoneymoonShop.Models.DressColor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddColor</title>
</head>
<body>
    <ul>
        @foreach (string s in ViewBag.CurrentColors)
        {
            <li>@s</li>
        }
    </ul>
    <form asp-action="AddColor">
        <div class="form-horizontal">
            <h4>Dress</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ColorID" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="ColorID" class="form-control" asp-items="ViewBag.AvailableColors"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DressID" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="DressID" class="form-control" asp-items="ViewBag.Dress"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add Feature" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
