@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddImage</title>
</head>
<body>

<form method="post" asp-action="AddImage" enctype="multipart/form-data">
    <ul>
        @foreach(string s in ViewBag.Images)
        {
            <li><img src="~/images/dress/@s" /></li>

        }
    </ul>
    <input type="file" name="files" multiple />
    <input type="submit" value="Upload" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
