@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<script src="~/js/jquery-scrollable.js"></script>
<script type="text/javascript">

        jQuery(function ($) {
            // Here, could test if this is a touch device with not mouse, and, if so, don't enable.
            debiki.Utterscroll.enable();
        });

</script>
<div style="height:45em; overflow-x:auto; overflow-y:hidden; white-space:nowrap; width:auto; -webkit-overflow-scrolling: touch;">
    <img src="http://placehold.it/500x1500" style="clip:rect(0px, 500px, 300px, 0px); width:20.3em; height:45em; margin-right:1.8em" />
    <img src="http://placehold.it/500x1500" style="clip:rect(0px, 500px, 300px, 0px); width:20.3em; height:45em; margin-right:1.8em" />
    <img src="http://placehold.it/500x1500" style="clip:rect(0px, 500px, 300px, 0px); width:20.3em; height:45em; margin-right:1.8em" />
    <img src="http://placehold.it/500x1500" style="clip:rect(0px, 500px, 300px, 0px); width:20.3em; height:45em; margin-right:1.8em" />
    <img src="http://placehold.it/500x1500" style="clip:rect(0px, 500px, 300px, 0px); width:20.3em; height:45em; margin-right:1.8em" />
    <img src="http://placehold.it/500x1500" style="clip:rect(0px, 500px, 300px, 0px); width:20.3em; height:45em; margin-right:1.8em" />
    <img src="http://placehold.it/500x1500" style="clip:rect(0px, 500px, 300px, 0px); width:20.3em; height:45em; margin-right:1.8em" />
    <img src="http://placehold.it/500x1500" style="clip:rect(0px, 500px, 300px, 0px); width:20.3em; height:45em; margin-right:1.8em" />
    <img src="http://placehold.it/500x1500" style="clip:rect(0px, 500px, 300px, 0px); width:20.3em; height:45em; margin-right:1.8em" />
    <img src="http://placehold.it/500x1500" style="clip:rect(0px, 500px, 300px, 0px); width:20.3em; height:45em; margin-right:1.8em" />
</div>
<script src="~/js/debiki-utterscroll.js"></script>
