@model HoneymoonShop.Models.Dress

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Dress</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ColorID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ColorID" class ="form-control" asp-items="ViewBag.ColorID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ManuID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ManuID" class ="form-control" asp-items="ViewBag.ManuID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NecklineID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="NecklineID" class ="form-control" asp-items="ViewBag.NecklineID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SilhouetteID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SilhouetteID" class ="form-control" asp-items="ViewBag.SilhouetteID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StyleID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="StyleID" class ="form-control" asp-items="ViewBag.StyleID"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
