@{
    ViewData["Title"] = "Home Page";
    ViewData["Background"] = "http://placehold.it/4096x2160";
    ViewData["HeaderHeight"] = "100vh";
}

@section Imports{
    <script src="js/script.js"></script>
}

@section HeaderOverlay{
    <div class="container-fluid" style="margin-top:30%">
        <div class="row">
            <h2 class="col-lg-12 col-md-12" style="color: white; text-align:center">Al bijna 50 jaar de grootste bruidszaak van Nederland.</h2>
        </div>
        <div class="row">
            <h1 class="col-lg-12 col-md-12" style="color: white; text-align:center; margin-top:0"><b>HOE KUNNEN WE JOU HELPEN?</b></h1>
        </div>
        <div class="row" style="margin-top:3em">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align:right">
                <button class="btn btn-default primary-button index-button" type="button" style="border-width:6px"> <b>BRUID</b></button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <button class="btn btn-default primary-button index-button" type="button" style="background-color:rgba(0,0,0,0); border: 6px solid white"> <b>BRUIDEGOM</b></button>
            </div>
        </div>
    </div>
}

<div class="container jurk-pak-height" style="background:white">
    <div class="row">
        <div class="col-md-12 bgtext" style="text-align:center; background:url(http://placehold.it/4096x300)">
            <h2 style="padding-top:4.0em">
                <b>
                    EEN JURK OF PAK KOPEN?<br>
                    ZO WERKT HET...
                </b>
            </h2>
        </div>
    </div>
    <div class="row" style="margin-top:4em">
        <div class="col-md-8 col-sm-12 col-xs-12 header-background" style="height:32em">
            <div class="container-fluid hide-md hide-xs" style="height:100%">
                <div class="row" style="height:100%">
                    <div class="col-lg-3 col-md-3" style="margin-top:55%">
                        <div class="circle" id="hashtagbutton">#</div>
                    </div>
                    <div class="col-lg-9 col-md-9" style="margin-top:40%;">
                        <p><b style="color:#f0597c">►</b> <b>BEKIJK VIDEO</b></p>
                        <p style="background:white; max-width:18em; padding:1em" id="text1">
                            Hoe vind je de perfercte outfit?
                            <br> Onze specialisten nemen echte de tijd voor je en helpen met elke stap. Oneindig jurken/pakken passen? Geen probleem! Er kunnen zoveel mensen mee als jij zelf wilt.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container-fluid hide-lg hide-xs hide-sm" style="height:100%">
                <div class="row">
                    <div class="col-md-3" style="margin-top:66%">
                        <div class="circle">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 hide-sm hide-xs">
            <ul class="list-group">
                <li class="list-group-item">
                    <button class="button-transparent">
                        <div class="circle-s" style="margin-right:1em">1</div>De winkel
                    </button>
                </li>
                <li class="list-group-item">
                    <button class="button-transparent">
                        <div class="circle-s" style="margin-right:1em">2</div>Onze specialisten
                    </button>
                </li>
                <li class="list-group-item">
                    <button class="button-transparent">
                        <div class="circle-s" style="margin-right:1em">3</div>Naai-atelier
                    </button>
                </li>
                <li class="list-group-item">
                    <button class="button-transparent">
                        <div class="circle-s" style="margin-right:1em">4</div>Servicepunten
                    </button>
                </li>
            </ul>
            <div class="hide-lg hide-xs hide-sm">
                <p><b style="color:#f0597c">►</b> <b>BEKIJK VIDEO</b></p>
                <p style="background:white; max-width:18em; padding:1em" id="text2">
                    Hoe vind je de perfercte outfit?
                    <br> Onze specialisten nemen echte de tijd voor je en helpen met elke stap. Oneindig jurken/pakken passen? Geen probleem! Er kunnen zoveel mensen mee als jij zelf wilt.
                </p>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 hide-lg hide-md show-sm show-xs">
            <ul class="list-group">
                <li class="list-group-item">
                    <button class="button-transparent" id="test">
                        <div class="circle-s" style="margin-right:1em">1</div>De winkel
                    </button>
                </li>
                <li class="list-group-item">
                    <button class="button-transparent">
                        <div class="circle-s" style="margin-right:1em">2</div>Onze specialisten
                    </button>
                </li>
                <li class="list-group-item">
                    <button class="button-transparent">
                        <div class="circle-s" style="margin-right:1em">3</div>Naai-atelier
                    </button>
                </li>
                <li class="list-group-item">
                    <button class="button-transparent">
                        <div class="circle-s" style="margin-right:1em">4</div>Servicepunten
                    </button>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 col-xs-12 hide-lg hide-md show-sm show-xs" style="">
            <p><b style="color:#f0597c">►</b> <b>BEKIJK VIDEO</b></p>
            <p style="background:white; padding:1em">
                Hoe vind je de perfercte outfit?
                <br> Onze specialisten nemen echte de tijd voor je en helpen met elke stap. Oneindig jurken/pakken passen? Geen probleem! Er kunnen zoveel mensen mee als jij zelf wilt.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 bgtext" style="text-align:center; background:url(http://placehold.it/4096x300)">
            <h2 style="padding-top:4.0em">
                <b>
                    BLIJF OP DE HOOGTE OVER<br>
                    DE BRUIDSWERELD
                </b>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="background:url(http://placehold.it/800x300)"> </div>
        <div class="col-md-6" style="background:url(http://placehold.it/800x300)"> </div>
    </div>
</div>
<div class="container padding-box" style="display:flex; flex-direction:column; background:white; padding-top:4.5em;">
    <div class="row">
        <div class="col-md-4 col-xs-12 padding-box-right" style="">
            <div class="box">
                <h4>Veelgestelde vragen</h4>
                <hr>
                <div style="padding-top: 4px">
                    De Honeymoon shop heeft een aantal service punten in Nederland. Hier kun je je bruidskleding laten afspelden en vermaken.
                    <br> lees meer
                </div>
            </div>
            <div class="box">
                <h4>Veelgestelde vragen</h4>
                <hr>
                <div style="padding-top: 4px">
                    De Honeymoon shop heeft een aantal service punten in Nederland. Hier kun je je bruidskleding laten afspelden en vermaken.
                    <br> lees meer
                </div>
            </div>
            <div class="box">
                <h4>Veelgestelde vragen</h4>
                <hr>
                <div style="padding-top: 4px">
                    De Honeymoon shop heeft een aantal service punten in Nederland. Hier kun je je bruidskleding laten afspelden en vermaken.
                    <br> lees meer
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 padding-box-right">
            <div class="box">
                <h4>Veelgestelde vragen</h4>
                <hr>
                <div style="padding-top: 4px">
                    De Honeymoon shop heeft een aantal service punten in Nederland. Hier kun je je bruidskleding laten afspelden en vermaken.
                    <br> lees meer
                </div>
            </div>
            <div class="box text-uppercase" style="background:#cce7d4">
                <b>Schrijf je in voor onze nieuwsbrief</b>
            </div>
            <div class="box">
                <h4>Veelgestelde vragen</h4>
                <hr>
                <div style="padding-top: 4px">
                    De Honeymoon shop heeft een aantal service punten in Nederland. Hier kun je je bruidskleding laten afspelden en vermaken.
                    <br> lees meer
                </div>
            </div>
            <div class="box">
                <h4>Veelgestelde vragen</h4>
                <hr>
                <div style="padding-top: 4px">
                    De Honeymoon shop heeft een aantal service punten in Nederland. Hier kun je je bruidskleding laten afspelden en vermaken.
                    <br> lees meer
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="box">
                <h4>Veelgestelde vragen</h4>
                <hr>
                <div style="padding-top: 4px">
                    De Honeymoon shop heeft een aantal service punten in Nederland. Hier kun je je bruidskleding laten afspelden en vermaken.
                    <br> lees meer
                </div>
            </div>
            <div class="box">
                <h4>Veelgestelde vragen</h4>
                <hr>
                <div style="padding-top: 4px">
                    De Honeymoon shop heeft een aantal service punten in Nederland. Hier kun je je bruidskleding laten afspelden en vermaken.
                    <br> lees meer
                </div>
            </div>
            <div class="box text-uppercase" style="background:#f0597c; color:white">
                <b>Wij zijn opzoek naar een verkoop styliste</b>
            </div>
            <div class="box">
                <h4>Veelgestelde vragen</h4>
                <hr>
                <div style="padding-top: 4px">
                    De Honeymoon shop heeft een aantal service punten in Nederland. Hier kun je je bruidskleding laten afspelden en vermaken.
                    <br> lees meer
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12" style="text-align:center">
            <button class="btn btn-default primary-button index-button" type="button" style="border-width:6px; border-radius:0%"><b>MEER BERICHTEN</b></button>
        </div>
    </div>
    <div class="row" style="padding-top:2em">
        <div class="col-md-12 col-xs-12" style="text-align:center">
            <p> <b style="color:#f0597c; font-size:2em">▼</b> </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12" style="padding-left:0%; padding-right:0%">
            <img src="http://placehold.it/4096x2000" class="img-responsive" />
        </div>
    </div>
</div>