@{
    ViewData["Title"] = "Home Page";
    ViewData["Background"] = "http://placehold.it/4096x2160";
    ViewData["HeaderHeight"] = "100vh";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">Content Area</div>
    </div>
</div>
