@{
    ViewData["Title"] = "Home Page";
    ViewData["Background"] = "http://placehold.it/4096x2160";
    ViewData["HeaderHeight"] = "100vh";
}

@section HeaderOverlay{
    <div class="container-fluid" style="margin-top:30%">
        <div class="row">
            <h2 class="col-lg-12 col-md-12" style="color: white; text-align:center">Al bijna 50 jaar de grootste bruidszaak van Nederland.</h2>
        </div>
        <div class="row">
            <h1 class="col-lg-12 col-md-12" style="color: white; text-align:center; margin-top:0"><b>HOE KUNNEN WE JOU HELPEN?</b></h1>
        </div>
        <div class="row" style="margin-top:3em">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align:right">
                <button class="btn btn-default primary-button index-button" type="button" style="border-width:6px"> <b>BRUID</b></button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <button class="btn btn-default primary-button index-button" type="button" style="background-color:rgba(0,0,0,0); border: 6px solid white"> <b>BRUIDEGOM</b></button>
            </div>
        </div>
    </div>
}