@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section Imports {
    <link href="https://fonts.googleapis.com/css?family=Cookie|Lato" rel="stylesheet">
    <link href="~/css/appointment.css" rel="stylesheet" />
}

<div class="container" style="background:white">
    <div class="row ">

        <div class="col-lg-12 big-div">

            <b id="ev-txt"> <i>Voltooid!</i></b>
            <b id="ev-txt-2" style=""> JE PAS AFSPRAAK IS GEMAAKT</b> <br>
            <span id="txt-3">Leuk! Je pasafspraak is gemaakt! Er is een bevestiging van je afspraak naar <br>  </span> <span id="txt-3-3">je E-mail gestuurd! Maak ook meteen een <u><a>afspraak voor je partner!</a> </u></span>



        </div>

        <div class="row">
            <div class="col-md-12 deel"><a id="deel-txt"> <b> <br> DEEL DIT MOMENT</b> </a> </div>
        </div>

        <div class="row">
            <br>
            <div class="col-sm-5 img-responsive img-class"><img src="http://placehold.it/500x300" alt="deel-dit" id="img"> </div>
            <div class="col-sm-5 list">

                <b id="tips">TIPS AND TRICKS </b> <br /> <br />
                <span id=tips-txt>Lorem ipsum dolor sit amet, consectetur adipisicing elit, <br> commodo consectetur dolar sa adipisicing elit Lorem <br> ipsum dolor sit amet  <u><a>veelgestelde vragen.</a> </u></span>

                <br /> <br />
                <ul id="u-l">
                    <li><p>Lorem ipsum dolor sit amet </p></li>
                    <li><p>Consectetur adipisicing elit</p></li>
                    <li><p>Sed do eiusmod tempor inc ididunt ut</p></li>
                    <li><p>Labore et dolore magna aliqua</p></li>
                    <li><p> Utal enim ad minim veniam</p></li>
                </ul>
                <br /> <br /><br /> <br />
                <span id="downarrow"> &#9660; </span>
            </div>
        </div>


    </div>

</div>