@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Afspraak gemaakt";
    ViewData["Background"] = "url(/images/web/header_afspraak.jpg)";
    ViewData["HeaderHeight"] = "40em";
}

@section Imports {
    <link href="~/css/appointment.css" rel="stylesheet" />
}

@section HeaderOverlay {
    <div class="container-fluid">
        <div class="row" style="margin-top:9.5em">
            <div class="col-md-12" style="text-align:center; color:white">
                <h3>(Door)Pasafspraak maken voor je jurk of pak</h3>
                <h2><b>VAN BEGIN TOT EIND KUNNEN WIJ JE HELPEN</b></h2>
            </div>
        </div>
    </div>
}

<div class="container" style="background:white">
    <div class="row ">

        <div class="col-lg-12 big-div" style="text-align: center; margin-bottom: 6em;">

            <b id="ev-txt"> <i>Voltooid!</i></b>
            <b id="ev-txt-2" style=""> JE PAS AFSPRAAK IS GEMAAKT</b> <br>
            <span id="txt-3">Leuk! Je pasafspraak is gemaakt! Er is een bevestiging van je afspraak naar <br>  </span> <span id="txt-3-3">je E-mail gestuurd! Maak ook meteen een <u><a>afspraak voor je partner!</a> </u></span>



        </div>

        <div class="row">
            <div class="deel"><a id="deel-txt"> <b> <br> DEEL DIT MOMENT</b> </a> </div>
        </div>

        <div class="row">
            <br>
            <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-3 col-sm-4 col-sm-offset-2 col-xs-12 img-responsive img-class"><img src="http://placehold.it/500x300" alt="deel-dit" id="img"> </div>
            <div class="col-lg-4 col-lg-offset-0 col-md-5 col-md-offset-2 col-sm-6 col-sm-offset-1 col-xs-12 list" style="text-align: left;padding-left: 6em;">

                <b id="tips">TIPS AND TRICKS </b> <br /> <br />
                <span id=tips-txt>Lorem ipsum dolor sit amet, consectetur adipisicing elit, <br> commodo consectetur dolar sa adipisicing elit Lorem <br> ipsum dolor sit amet  <u><a>veelgestelde vragen.</a> </u></span>

                <br /> <br />
                <ul id="u-l">
                    <li><p>Lorem ipsum dolor sit amet </p></li>
                    <li><p>Consectetur adipisicing elit</p></li>
                    <li><p>Sed do eiusmod tempor inc ididunt ut</p></li>
                    <li><p>Labore et dolore magna aliqua</p></li>
                    <li><p> Utal enim ad minim veniam</p></li>
                </ul>
                <br /> <br /><br /> <br />
            </div>
            <p id="downarrow" class="col-xs-12"> &#9660; </p>
        </div>


    </div>

</div>