@{
    ViewData["Title"] = "Afspraak maken";
    ViewData["Background"] = "white";
    ViewData["HeaderHeight"] = "10";
}

@section Imports {
<script src="~/js/calendar.js" type="text/javascript"></script>
<style>
    th{
        text-align:center;
    }
</style>
}
@section HeaderOverlay {
    <div class="container-fluid" style="margin-bottom:2em">
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <h2><b>MAAK JE PASAFSPRAAK</b></h2>
            </div>
        </div>
    </div>
}
<div class="container" style="background:white; padding-bottom:2em">
    <div style="display: flex; flex-shrink: 0; flex-wrap: wrap; box-shadow: 0px 0px 30px darkgrey;">
        <div id="stappenplan" class="stappenplan-boxbox" style="padding:3em; background:white; display: flex">
            <div id="stappen"  style="height:100%; padding-right:3em; user-select: none; -webkit-user-select: none;">
                <label id="stap1-label" class="staplabel">1</label><p id="stap1-text" class="staptext">Datum en tijd<br> selecteren</p>
                <p id="stap1-path" class="stappath">I<br>I<br>I<br>I<br>I<br>I<br></p>
                <label id="stap2-label" class="staplabel staplabel-disabled">2</label><p id="stap2-text" class="staptext staptext-disabled">Gegevens<br> invullen</p>
                <p id="stap2-path" class="stappath">I<br></p>
                <label id="stap3-label" class="staplabel staplabel-disabled">3</label><p id="stap3-text" class="staptext staptext-disabled">Gegevens<br> controleren</p>
            </div>
            <div id="stap-datum-selectie">
                <h4><b>Stap 1, Datum en tijd selecteren</b></h4>
                <p>
                    Selecteer eerst een datum en vervolgens
                    een tijdstip dat je wilt komen passen!
                </p>
                <br />
                <p>Openingstijden:<br /></p>
                <table style="font-weight: bold;">
                    <tr>
                        <td>MA</td>
                        <td>12:00-17:30</td>
                    </tr>
                    <tr>
                        <td>DI-VR&nbsp;</td>
                        <td>09:30-17-30</td>
                    </tr>
                    <tr>
                        <td>ZA</td>
                        <td>09:30-18:00</td>
                    </tr>
                    <tr>
                        <td>ZO</td>
                        <td>11:00-17:00</td>
                    </tr>
                </table>
                <br />

                <p>
                    *Op alle werkdagen kunnen er ook schoenen worden
                    gepast. Helaas is dit niet mogelijk in het weekend.
                </p><br>
                <button id="btn-stap2" class="btn-primary" style="padding: 1em; text-transform: uppercase; background-color: #F0597C; border:none;" hidden><b>Naar stap 2</b></button>
            </div>
            <div id="userinfo" hidden>
                <form id="userinfo-form">
                    <h4><b>Stap 2, Gegevens invullen</b></h4><br />
                    <p><b>Voor- en achternaam*</b></p>
                    <input id="namefield" type="text" /><br /><br />
                    <p><b>Trouwdatum*</b></p>
                    <input id="datefield" type="date" /><br /><br />
                    <p><b>Telefoonnummer</b></p>
                    <input id="phonenumberfield" type="text" /><br /><br />
                    <p><b>E-mailadres*</b></p>
                    <input id="mailfield" type="text" /><br /><br />
                    <p><b>Herhaal E-mailadres*</b></p>
                    <input id="remailfield" type="text" /><br /><br />
                    <div style="display:flex; flex-direction:row">
                        <div style="flex-basis:5%">
                            <input id="nieuwsbrief" type="checkbox" />
                        </div>
                        <div style="flex-basis:95%">
                            <p style="display:inline-block">Ja, ik wil me graag aanmelden voor de inspirerende nieuwsbrief van Honeymoon Shop.</p><br /><br>
                        </div>
                    </div>
                </form>
                <button id="btn-stap3" class="btn-primary" style="padding: 1em; text-transform: uppercase; background-color: #F0597C; border:none;"><b>Naar stap 3</b></button>
            </div>
            <div id="userinfo-validation" hidden>
                <h4><b>Stap 3, Gegevens controleren</b></h4><br />
                <p>Controleer alle gegevens voor je pasafspraak bij Honeymoon shop aan Korte Hoogstraat 4, te Rotterdam.</p><br>
                <button id="btn-bevestig" class="btn-primary" style="padding: 1em; text-transform: uppercase; background-color: #F0597C; border:none;"><b>Afspraak bevestigen</b></button>
            </div>
        </div>
        <div id="rightpanel" class="stappen-box" style="padding:3em; background: rgb(240,89,124); color:white; font-weight: bold">
            <div id="calendar" style="user-select:none; -webkit-user-select: none;">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                <h4 style="display:inline"><b> Selecteer een datum:</b></h4><br />
                <ul style="list-style-type: none; padding-left: 0; background: rgb(242, 115, 144); padding: 0.4em;">
                    <li class="prev"><button id="previous" class="button-transparent">&#10094;</button></li>
                    <li class="next"><button id="next" class="button-transparent">&#10095;</button></li>
                    <li style="text-align:center;">
                        <p id="calender-currentday" style="margin: 0%; text-transform: uppercase">September 2016</p>
                    </li>
                </ul>
                <form id="calendar-form">
                    <table id="daysTable" style="width: 100%; text-align:center; text-transform: uppercase;">
                        <tr>
                            <th>Ma</th>
                            <th>Di</th>
                            <th>Woe</th>
                            <th>Do</th>
                            <th>Vri</th>
                            <th>Za</th>
                            <th>Zo</th>
                        </tr>
                        <tr id="tr1">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr id="tr2">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr id="tr3">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr id="tr4">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr id="tr5">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr id="tr6">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </form>
                <br />
                <button id="btntime" class="button-transparent" style="position:relative; left: calc(100% - 11em); color:#F8B1BF;">Selecteer een tijd ---></button>
            </div>
            <div id="tijdstip" hidden>
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                <h4 style="display:inline"><b> Selecteer een tijdstip:</b></h4><br />
                <ul style="list-style-type: none; background: rgb(242, 115, 144); padding: 0.4em;">
                    <li class="prev"><button class="button-transparent" disabled>&#10094;</button></li>
                    <li class="next"><button class="button-transparent" disabled>&#10095;</button></li>
                    <li style="text-align:center;">
                        <p id="calendertijdstip-currentday" style="margin: 0%; text-transform: uppercase">September 2016</p>
                    </li>
                </ul><br />
                <form id="tijdstip-form"></form>
                <br /><br /><br /><br /><br /><br /><br />
                <button id="btndatum" class="button-transparent" style="color:#F8B1BF;">&lt;--- Terug naar datum selecteren</button>
            </div>
            <div id="chosendate-panel" hidden>
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                <h4 style="display:inline"><b style="text-transform: uppercase;"> Gekozen tijd en datum:</b></h4><br />
                <h4 style="background: rgb(242, 115, 144); padding: 0.4em; text-align:center; text-transform: uppercase;"><b id="chosendate">DO 15 SEPTEMBER 2016 OM 09.30 U</b></h4><br />
                <p>Vul je persoonlijke gegevens in om de pasafspraak compleet te maken.</p>
                <br /><br /><br /><br /><br /><br /><br />
                <button id="btn-stap1" class="button-transparent" style="color:#F8B1BF; position: relative; top: 30px ">&lt;--- Terug naar stap 1 om datum te wijzigen</button>
            </div>
            <div id="userinfo-validation-info" hidden>
                <h4 style="background: rgb(242, 115, 144); padding: 0.4em; text-align:center"><b id="userinfo-validation-datetime">DO 15 SEPTEMBER 2016 OM 09.30 U</b></h4><br />
                <table id="userinfo-validation-info-table" style="font-weight: bold; margin-bottom: 5em">
                    <tr>
                        <td>Naam:</td>
                        <td id="tdNaam">Maritha Dujin</td>
                    </tr>
                    <tr>
                        <td>Trouwdatum:&nbsp;</td>
                        <td id="tdDatum">10/07/17</td>
                    </tr>
                    <tr>
                        <td>Telefoon:</td>
                        <td id="tdTelefoon">06- 123 45 678</td>
                    </tr>
                    <tr>
                        <td>E-mail:</td>
                        <td id="tdMail">maritha.duijin@gmail.com</td>
                    </tr>
                </table>
                <button id="btn-stap2-back" class="button-transparent" style="color:#F8B1BF; position: relative; top: 30px ">&lt;--- Terug naar stap 2 om gegevens te wijzigen</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12" style="padding-left:0%; padding-right:0%">
            <img src="~/images/web/afspraak_footer.png" class="img-responsive" />
        </div>
    </div>
</div>
