@{
    Layout = null;
}
<div class="container containerstyle">
    <div class="row blog-top-picture">
        <div class="blog-top-item img-responsive" style="background:url(/images/web/blog/post1.jpg)">
            <div class="blog-top-block">
                <div class="top-block-header">
                    <div class="block-item-titel">EVENEMENT</div>
                    <div class="block-item-date">
                        <div style="font-size:1.95em">10</div>
                        <div>JAN</div>
                    </div>
                </div>
                <div class="block-item-text">
                    Afgelopen weekend waren wij op de Love & Marriage beurs in Ahoy
                    te Rotterdam. Hier hebben wij de mooiste jurken uit de 2017
                    collectie geshowd.
                </div>
                <div class="block-item-text"><u><a asp-controller="Posts" asp-action="Details/1">Lees meer</a></u> <strong>&#8594;</strong></div>
            </div>
        </div>
        <div class="blog-top-item img-responsive" style="background:url(/images/web/blog/post2.jpg)" >
            <div class="blog-top-block">
                <div class="top-block-header">
                    <div class="block-item-titel">EVENEMENT</div>
                    <div class="block-item-date">
                        <div style="font-size:1.95em">10</div>
                        <div>JAN</div>
                    </div>
                </div>
                <div class="block-item-text">
                    Afgelopen weekend waren wij op de Love & Marriage beurs in Ahoy
                    te Rotterdam. Hier hebben wij de mooiste jurken uit de 2017
                    collectie geshowd.
                </div>
                <div class="block-item-text"><u><a href="http://google.nl">Lees meer</a></u> <strong>&#8594;</strong></div>
            </div>
        </div>
    </div>
</div>
<div class="container padding-box" style="display:flex; flex-direction:column; background:white; padding-top:4.5em;">
    <div class="row">
        <div class="col-md-4 col-xs-12 padding-box-right" style="">
            <div class="box">
                <h4>Veelgestelde vragen</h4>
                <hr>
                <div style="padding-top: 4px">
                    De Honeymoon shop heeft een aantal service punten in Nederland. Hier kun je je bruidskleding laten afspelden en vermaken.
                    <br> lees meer
                </div>
            </div>
            <div class="box">
                <h4>Veelgestelde vragen</h4>
                <hr>
                <div style="padding-top: 4px">
                    De Honeymoon shop heeft een aantal service punten in Nederland. Hier kun je je bruidskleding laten afspelden en vermaken.
                    <br> lees meer
                </div>
            </div>
            <div class="box">
                <h4>Veelgestelde vragen</h4>
                <hr>
                <div style="padding-top: 4px">
                    De Honeymoon shop heeft een aantal service punten in Nederland. Hier kun je je bruidskleding laten afspelden en vermaken.
                    <br> lees meer
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 padding-box-right">
            <div class="box">
                <h4>Veelgestelde vragen</h4>
                <hr>
                <div style="padding-top: 4px">
                    De Honeymoon shop heeft een aantal service punten in Nederland. Hier kun je je bruidskleding laten afspelden en vermaken.
                    <br> lees meer
                </div>
            </div>
            <div class="box text-uppercase" style="background:#cce7d4">
                <b>Schrijf je in voor onze nieuwsbrief</b>
            </div>
            <div class="box">
                <h4>Veelgestelde vragen</h4>
                <hr>
                <div style="padding-top: 4px">
                    De Honeymoon shop heeft een aantal service punten in Nederland. Hier kun je je bruidskleding laten afspelden en vermaken.
                    <br> lees meer
                </div>
            </div>
            <div class="box">
                <h4>Veelgestelde vragen</h4>
                <hr>
                <div style="padding-top: 4px">
                    De Honeymoon shop heeft een aantal service punten in Nederland. Hier kun je je bruidskleding laten afspelden en vermaken.
                    <br> lees meer
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="box">
                <h4>Veelgestelde vragen</h4>
                <hr>
                <div style="padding-top: 4px">
                    De Honeymoon shop heeft een aantal service punten in Nederland. Hier kun je je bruidskleding laten afspelden en vermaken.
                    <br> lees meer
                </div>
            </div>
            <div class="box">
                <h4>Veelgestelde vragen</h4>
                <hr>
                <div style="padding-top: 4px">
                    De Honeymoon shop heeft een aantal service punten in Nederland. Hier kun je je bruidskleding laten afspelden en vermaken.
                    <br> lees meer
                </div>
            </div>
            <div class="box text-uppercase" style="background:#f0597c; color:white">
                <b>Wij zijn opzoek naar een verkoop styliste</b>
            </div>
            <div class="box">
                <h4>Veelgestelde vragen</h4>
                <hr>
                <div style="padding-top: 4px">
                    De Honeymoon shop heeft een aantal service punten in Nederland. Hier kun je je bruidskleding laten afspelden en vermaken.
                    <br> lees meer
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12" style="text-align:center">
            <button class="btn btn-default primary-button index-button" type="button" style="border-width:6px; border-radius:0%"><b>MEER BERICHTEN</b></button>
        </div>
    </div>
    <div class="row" style="padding-top:2em">
        <div class="col-md-12 col-xs-12" style="text-align:center">
            <p> <b style="color:#f0597c; font-size:2em">▼</b> </p>
        </div>
    </div>
</div>
