<div class="row" style="margin-top:4em">
    <div class="col-md-8 col-sm-12 col-xs-12 steps-back" style="height:32em">
        <div class="container-fluid hide-md hide-xs" style="height:100%">
            <div class="row" style="height:100%">
                <div class="col-lg-3 col-md-3" style="margin-top:51%">
                    <div class="circle" id="hashtagbutton">#</div>
                </div>
                <div class="col-lg-9 col-md-9" style="margin-top:40%;">
                    <p><b style="color:#f0597c">►</b> <b>BEKIJK VIDEO</b></p>
                    <p style="background:white; max-width:18em; padding:1em" id="text1">
                        Hoe vind je de perfercte outfit?
                        <br> Onze specialisten nemen echte de tijd voor je en helpen met elke stap. Oneindig jurken/pakken passen? Geen probleem! Er kunnen zoveel mensen mee als jij zelf wilt.
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid " style="height:100%">
            <div class="row">
                <div class="circle-top-offset col-md-3 hide-lg">
                    <div class="circle" id="hashtagbutton2">
                        #
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 hide-sm hide-xs">
        <ul class="list-group">
            <li class="list-group-item">
                <button class="button-transparent">
                    <div class="circle-s" style="margin-right:1em">1</div>De winkel
                </button>
            </li>
            <li class="list-group-item">
                <button class="button-transparent">
                    <div class="circle-s" style="margin-right:1em">2</div>Onze specialisten
                </button>
            </li>
            <li class="list-group-item">
                <button class="button-transparent">
                    <div class="circle-s" style="margin-right:1em">3</div>Naai-atelier
                </button>
            </li>
            <li class="list-group-item">
                <button class="button-transparent">
                    <div class="circle-s" style="margin-right:1em">4</div>Servicepunten
                </button>
            </li>
        </ul>
        <div class="hide-lg hide-xs hide-sm">
            <p><b style="color:#f0597c">►</b> <b>BEKIJK VIDEO</b></p>
            <p style="background:white; max-width:18em; padding:1em" id="text2">
                Hoe vind je de perfercte outfit?
                <br> Onze specialisten nemen echte de tijd voor je en helpen met elke stap. Oneindig jurken/pakken passen? Geen probleem! Er kunnen zoveel mensen mee als jij zelf wilt.
            </p>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 hide-lg hide-md show-sm show-xs">
        <ul class="list-group">
            <li class="list-group-item">
                <button class="button-transparent" id="test">
                    <div class="circle-s" style="margin-right:1em">1</div>De winkel
                </button>
            </li>
            <li class="list-group-item">
                <button class="button-transparent">
                    <div class="circle-s" style="margin-right:1em">2</div>Onze specialisten
                </button>
            </li>
            <li class="list-group-item">
                <button class="button-transparent">
                    <div class="circle-s" style="margin-right:1em">3</div>Naai-atelier
                </button>
            </li>
            <li class="list-group-item">
                <button class="button-transparent">
                    <div class="circle-s" style="margin-right:1em">4</div>Servicepunten
                </button>
            </li>
        </ul>
    </div>
    <div class="col-md-offset-3 col-sm-6 col-xs-12 hide-lg hide-md show-sm show-xs" style="">
        <p><b style="color:#f0597c">►</b> <b>BEKIJK VIDEO</b></p>
        <p style="background:white; padding:1em" id="text3">
            Hoe vind je de perfercte outfit?
            <br> Onze specialisten nemen echte de tijd voor je en helpen met elke stap. Oneindig jurken/pakken passen? Geen probleem! Er kunnen zoveel mensen mee als jij zelf wilt.
        </p>
    </div>
</div>