@model IEnumerable<HoneymoonShop.Models.Blog>

@{
    ViewData["Title"] = "Blogs";
    ViewData["Background"] = "white";
    ViewData["HeaderHeight"] = "10";
}

@section Imports{
    <link href="~/css/blog.css" rel="stylesheet" />
}

<div class="container containerstyle">
    <hr style="border-top:1px solid #E5E5E5; width:100%" />
    <!--titels-->
    <div class="row center">
        <div class="col-md-6 titles">
            <div class="title-big">Blog</div>
            <div class="title">BLIJF OP DE HOOGTE OVER <br />DE BRUIDSWERELD</div>
        </div>
    </div>

    <!--menu buttons-->
    <div class="row center" style="margin-bottom:70px;">
        <a href="" class="index-btn"><b>Collectie</b> (1)</a>
        <a href="" class="index-btn"><b>Evenement</b> (1)</a>
        <a href="" class="index-btn"><b>Artikel/ nieuws</b> (1)</a>
        <a href="" class="index-btn"><b>Lovely real brides</b> (1)</a>
    </div>

    <!--top section-->
    <div class="row blog-top-picture">
        @*@foreach (var e in ViewBag.Events)
        {
            int date = (int)e.Date.Day;
            int counter = 0;
            <div style="background:black; height:33em; flex-basis:50%">
                <div class="blog-top-block">
                    <div class="top-block-header">
                        <div class="block-item-titel">EVENEMENT</div>
                        <div class="block-item-date">
                            <div style="font-size:1.95em">@date</div>
                            <div>@e.Date.Month</div>
                        </div>
                    </div>
                    <div class="block-item-text">
                        @foreach (var t in e.Description.ToCharArray())
                        {
                            if(counter <= 100)
                            {
                                @t
                            }
                            counter++;

                        }
                    </div>
                    <div class="block-item-text"><u><a href="">Lees meer</a></u> <strong>&#8594;</strong></div>
                </div>
            </div>
        }*@
        <div class="blog-top-item">
            <div class="blog-top-block" >
                <div class="top-block-header">
                    <div class="block-item-titel">EVENEMENT</div>
                    <div class="block-item-date">
                        <div style="font-size:1.95em">10</div>
                        <div>JAN</div>
                    </div>
                </div>
                <div class="block-item-text">
                    Afgelopen weekend waren wij op de Love & Marriage beurs in Ahoy
                    te Rotterdam. Hier hebben wij de mooiste jurken uit de 2017
                    collectie geshowd.
                </div>
                <div class="block-item-text"><u><a asp-controller="Posts" asp-action="Details/1" >Lees meer</a></u> <strong>&#8594;</strong></div>
            </div>
        </div>
        <div class="blog-top-item">
            <div class="blog-top-block" >
                <div class="top-block-header">
                    <div class="block-item-titel">EVENEMENT</div>
                    <div class="block-item-date">
                        <div style="font-size:1.95em">10</div>
                        <div>JAN</div>
                    </div>
                </div>
                <div class="block-item-text">
                    Afgelopen weekend waren wij op de Love & Marriage beurs in Ahoy
                    te Rotterdam. Hier hebben wij de mooiste jurken uit de 2017
                    collectie geshowd.
                </div>
                <div class="block-item-text"><u><a href="http://google.nl">Lees meer</a></u> <strong>&#8594;</strong></div>
            </div>
        </div>
    </div>

    <!--blog item rows-->
    <div class="row items-display">
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">COLLECTIE</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">De super sexy collectie van Martina Liana is gearriveerd.</div>
            <img class="blog-item-picture" src="http://placekitten.com/285/308">
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top" style="border-bottom-color:cornflowerblue;">LOVELY REAL BRIDES</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">Rachelle & Matthew</div>
            <img class="blog-item-picture" src="http://placekitten.com/285/308">
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top" style="border-bottom-color:aquamarine">NIEUWS</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">De super sexy collectie van Martina Liana is gearriveerd.</div>
            <img class="blog-item-picture" src="http://placekitten.com/285/308">
        </div>
    </div>

    <div class="row items-display">
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">ARTIKEL</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">Van Pinterest droom naar de werkelijkheid</div>
            <img class="blog-item-picture" src="http://placekitten.com/285/308">
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">Moet nog</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">De super sexy collectie van Martina Liana is gearriveerd.</div>
            <img class="blog-item-picture" src="http://placekitten.com/285/308">
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">LOVELY REAL BRIDES</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">Rachelle & Matthew</div>
            <img class="blog-item-picture" src="http://placekitten.com/285/308">
        </div>
    </div>

    <div class="row items-display">
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">LOVELY REAL BRIDES</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">Rachelle & Matthew</div>
            <img class="blog-item-picture" src="http://placekitten.com/285/308">
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">COLLECTIE</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">De super sexy collectie van Martina Liana is gearriveerd.</div>
            <img class="blog-item-picture" src="http://placekitten.com/285/308">
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">moet nog</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">De super sexy collectie van Martina Liana is gearriveerd.</div>
            <img class="blog-item-picture" src="http://placekitten.com/285/308">
        </div>
    </div>

    <div class="row items-display">
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">COLLECTIE</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">De super sexy collectie van Martina Liana is gearriveerd.</div>
            <img class="blog-item-picture" src="http://placekitten.com/285/308">
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">LOVELY REAL BRIDES</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">Rachelle & Matthew</div>
            <img class="blog-item-picture" src="http://placekitten.com/285/308">
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">NIEUWS</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">Het nieuwe magazine is uit! Vraag hem gratis aan.</div>
            <img class="blog-item-picture" src="http://placekitten.com/285/308">
        </div>
    </div>

    <div class="row items-display">
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">ARTIKEL</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">Van Pinterest droom naar werkelijkheid.</div>
            <img class="blog-item-picture" src="http://placekitten.com/285/308">
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">moet nog</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">De super sexy collectie van Martina Liana is gearriveerd.</div>
            <img class="blog-item-picture" src="http://placekitten.com/285/308">
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">LOVELY REAL BRIDES</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">Rachelle & Matthew</div>
            <img class="blog-item-picture" src="http://placekitten.com/285/308">
        </div>
    </div>

    <div class="row items-display">
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">LOVELY REAL BRIDES</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">Rachelle & Matthew</div>
            <img class="blog-item-picture" src="http://placekitten.com/285/308">
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">COLLECTIE</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">De super sexy collectie van Martina Liana is gearriveerd.</div>
            <img class="blog-item-picture" src="http://placekitten.com/285/308">
        </div>
        <div class="col-md-3 blog-item">
            <div class="top-block-header">
                <div class="block-item-titel blog-item-top">moet nog</div>
                <div></div>
            </div>
            <div class="block-item-text bigger blog-item-top">De super sexy collectie van Martina Liana is gearriveerd.</div>
            <img class="blog-item-picture" src="http://placekitten.com/285/308">
        </div>
    </div>

    <!--berichten button-->
    <div class="row berichten-display">
        <button type="button" onclick="" class="col-md-3 berichten-button">MEER BERICHTEN</button>
        <div class="arrow-down"></div>
    </div>

    <!--bottom pic-->
    <div class="row">
        <div class="col-md-12 blog-bottom-picture"></div>
    </div>
</div>