/* font-family: 'Molle', cursive;
    color:pink;
    font-size: 7em;
    position: relative;
    margin-left: 17%;

font-family: 'Fjalla One', sans-serif;
*/

body{
    background-color:#FCE8E7;
}

.fullrow{

    margin-left: 13em;  
}

.footer-box{
     width: 100%;
}



.deel-dit{
    position: relative;
    top: -5.3em;
    margin: auto;
    min-width: 15em;
    height: 4em;
}

.info-txt{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.09em;
    margin-left: -13em;
}

.weddingshow{
    position: relative;
    margin: auto;
    margin-bottom: 5%;
}

.list1{
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    position: relative;
    text-align: left;
    text-decoration: none;    
    margin-left: 13%;    
    
}


.list-nopadbot>li {
    padding-bottom: 0px;
    background-color: #FCE8E7;
    border: #FCE8E7;
}

a{
    color:black;
}

.box-offset {
    margin-left: 4em;
}


.footer-img {
    background-color: #F0597C;
    height: 190px;
    flex-basis: 25%;
    margin-left: 2em;
}

.footer-img p {
      display:inline-block;  
      color: white;
      text-align: center;
      min-width: 100%;
}


.footer-box  p:first-child {
    font-size: 7em;
    font-family: 'Cookie';
    color: #F8AEBF;
}

.footer-box p:nth-child(2){
    font-size: 1.7em;
    position: relative;
    top: -3em;
}




@media (max-width: 1200px) {
    .footer-img {
        background-color: #F0597C;
        height: 190px;
        flex-basis: 30%;
        margin-left: 29em;
        margin-bottom: 2em;
    }
    .fullrow {
        margin-left: 2em;    
    }
    .info-txt {
        margin-left: 0px;
    }

    
   
}

@media (max-width: 992px) {
    .footer-img {
        background-color: #F0597C;
        height: 190px;
        flex-basis: 55%;
        margin-left: 13em;
        margin-bottom: 2em;
    }

    .fullrow {
        margin-left: 0em;
    }

    .info-txt {
        margin-left: 0px;
    }

    .box-offset {
        margin-left: 11em;
    }
    .box-offset2 {
        margin-left: 12.5em;
    }

    .align-sm {
        text-align: center;
    }


}

@media (max-width: 767px) {
    .box-offset {
        margin-left: 0em;
    }
    .box-offset2 {
        margin-left: 0em;
    }
    .footer-img {
        flex-basis: 58%;
    }
    .fullrow {
        margin-left: -1.5em;
    }
    .info-txt {
        margin-left: 0;
    }

}

@media (max-width: 425px) {
    .fullrow {
    margin-left:-33.5vw;}
    
    .info-txt {
    margin-left:31vw;}

    .list1 {
    margin-left:0vw;
    }
}

@media (max-width: 375px) {
    .fullrow {
    margin-left:-41.5vw;}

    .info-txt {
    margin-left:40vw;}

    .list1 {
    margin-left:-3vw;
    }
}

@media (max-width: 320px) {
    .fullrow {
    margin-left:-52.5vw;}
    .info-txt {
    margin-left:50vw;}

    .list1 {
    margin-left:-3vw;
    }
    .footer-img {
        margin-left: 12em;
        flex-basis: 62%;
    }
}