@{
}

@section HeaderOverlay {}

<div class="container" style="background:white">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <form asp-action="Search" method="get">
                <input type="number" name="art" />
                <button class="btn btn-default" type="submit">Zoek</button>
            </form>
        </div>
    </div>
</div>
