@{
    ViewData["Title"] = "Controlpanel";
    ViewData["Background"] = "white";
    ViewData["HeaderHeight"] = "10";
}

@section HeaderOverlay {}

<div class="container" style="background:white">
    <b style="font-size:1.2em">@Html.Partial("_LoginPartial")</b>
    <div class="row">
        <div class="col-md-6">
            <ul>
                <li><b>Kleuren</b></li>
                <li><a data-toggle="modal" data-target="#addColor">Voeg een kleur toe</a></li>
                <li><a data-toggle="modal" data-target="#editColor">Verwijder een kleur</a></li>
                <li><a data-toggle="modal" data-target="#editColor">Pas een kleur aan</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li><b>Kenmerken</b></li>
                <li><a data-toggle="modal" data-target="#addFeature">Voeg een kenmerk toe</a></li>
                <li><a data-toggle="modal" data-target="#editFeature">Verwijder een kenmerk</a></li>
                <li><a data-toggle="modal" data-target="#editFeature">Pas een kenmerk aan</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul>
                <li><b>Artikelen</b></li>
                <li><a asp-controller="Dresses" asp-action="Create">Voeg een jurk toe</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li><b>Afspraken</b></li>
                <li><a asp-controller="Appointments" asp-action="Overview">Alle afspraken</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <p>Zoeken op artikel nr.</p>
            <form asp-action="Search" method="get">
                <input type="number" name="art" />
                <button class="btn btn-default" type="submit">Zoek</button>
            </form>
        </div>
    </div>

    <div class="modal fade" id="editFeature" tabindex="-1" role="dialog" aria-labelledby="editLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form asp-controller="Features" asp-action="Search" method="get">
                    <div class="modal-header">
                        <h4>Aanpassen kenmerk</h4>
                    </div>
                    <div class="modal-content">
                        <div>
                            <label for="color">Naam van kenmerk</label>
                            <input id="color" type="text" name="feature" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Aanpassen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addFeature" tabindex="-1" role="dialog" aria-labelledby="editLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form asp-controller="Features" asp-action="Create" method="post">
                    <div class="modal-header">
                        <h4>Nieuwe kenmerk aanmaken</h4>
                    </div>
                    <div class="modal-content">
                        <div>
                            <label for="name">Naam van kenmerk</label>
                            <input id="name" type="text" name="name" />
                            <br />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Aanmaken</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="addColor" tabindex="-1" role="dialog" aria-labelledby="editLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form asp-controller="Colors" asp-action="Create" method="post">
                    <div class="modal-header">
                        <h4>Nieuwe kleur aanmaken</h4>
                    </div>
                    <div class="modal-content">
                        <div>
                            <label for="name">Naam van kleur</label>
                            <input id="name" type="text" name="color" />
                            <br />
                        </div>
                        <div>
                            <label for="cod">Kleurcode</label>
                            <input id="cod" type="text" name="cod" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Aanmaken</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="editColor" tabindex="-1" role="dialog" aria-labelledby="editLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form asp-controller="Colors" asp-action="Search" method="get">
                    <div class="modal-header">
                        <h4>Aanpassen kleur</h4>
                    </div>
                    <div class="modal-content">
                        <div>
                            <label for="color">Naam van kleur</label>
                            <input id="color" type="text" name="color" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Aanpassen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
